@media only screen and (max-width: 1015px) and (min-width: 505px){
    body div:not(#errordisp){
        display:none;
    }
     #errordisp{
         background-color: #6a8733;
         width: 100%;
         height: 100%;
         margin: -15px;
         text-align: center;
         
    }
    #errordisp img{
        width: 100%;
        position: relative;
    }
    #errordisp h1{
       background-image:url("../pic/error.png");
        font-size: 130%;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        margin: 15px 10%;
        
    }
    #errordisp h3{
       
        font-size: 100%;
        font-weight: 600;
        margin: 10%;
    }
}
@media only screen and (max-width: 505px){
    body div:not(#errordispandroid){
        display:none;
    }
    #errordispandroid{
        background-color: #6a8733;
         width: 100%;
         height: 100%;
         margin: -15px;
         text-align: center;
    }
    #errordispandroid img{
        width: 100%;
        position: relative;
    }
    #errordispandroid h1{
        background-image:url("../pic/error.png");
        font-size: 130%;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        margin: 15px 10%;
        
    }
    #errordispandroid h3{
       
        font-size: 100%;
        font-weight: 600;
        margin: 10%;
    }
}
@media only screen and (min-width:1015px){
#errordisp{
    display: none;
}
#errordispandroid{
    display: none;
}
.text-center img{
    text-align: center;
    align-content: center;
    align-items: center;
    width: 30%;
}
.logo-bar{
     background-color: #3A3C41;
    padding: 5px;
}
body{
    background-image: url("../pic/bg.jpg");
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-position: 58% 58%;
    background-size: cover;
        -moz-background-size: cover;
        -0- background-size: cover;
        -webkit- background-size: cover;
}
body header .container{
    margin: 0px 0px 0px 0px;
    background-color: rgba(31,31,31,0.50);
    width: 100%;
    height: 100%;
}
.navi-text{
    color:darkgrey;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 90%;
    margin-left: 10%;
}
.navbar{
    margin: 0px -15px;!important
    border-radius: 0px;!important
}
.becertifiedpng{
    height: 80%;
    width: 95%;
}
.header-context{
    margin: 10px;
    margin-left: 30px;
    line-height: 30px;
    overflow-y:hidden;
    
}
.header-con-text h2{
    color: #039be5;
    line-height: 60px;
    margin-top: 130px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    
}
.header-con-text h4:after{
    content:' ';
    display:block;
    border:1.5px solid #b3e5fc;
    border-radius:4px;
    margin: 30px 200px 0px 150px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}
.header-con-text h4{
    color: #03a9f4;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
}
.getStarted a{
    color: white;
    padding: 10px;
    margin-left: 40px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    
}
.getStarted a:hover{
    background-color:darkseagreen;
    transition: all 1s;
        -moz- Transition: all 1s;
        -0- transition:all 1s;
        -webkit-transition: all 1s;

}
.instructionafterhead{
    background-color: #ffffff;
    color: #3D3C3A;
    padding-top: 40px;
    padding-bottom: 30px;
}
.instructionafterhead row col-md-3 h3{
    font-weight: 600;!important
}
.instructionafterhead h5{
    color: #3D3C3A;
    margin-left: 25px;
    
    font-family: 'PT Sans', sans-serif;
}
.foot{
    padding: 20px;
    color: aliceblue;
    background-color: #263238;
}
.abovefooter{
    background-image: url("../pic/bg1.jpg");
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-position: 58% 58%;
    background-size: cover;
        -moz-background-size: cover;
        -0- background-size: cover;
        -webkit- background-size: cover;
    
}
.abovefooter .overlayabovefooter{
    margin: 0px;
    background-color: rgba(31,31,31,0.65);
    align-content: center;
}
.abovefooter .breaker{
    padding: 10px;
    background-color: whitesmoke;
}
.abovefooter h2{
    text-align: center;
}
.abovefooter h3{
    font-family: 'Arvo', serif;
    font-weight: 600;
    font-size: 18px;
}
.abovefooter h5{
    font-weight: 300;
    font-family: 'PT Sans', sans-serif;
}
.abovefooter img{
    position: relative;
    width: 80%;
    
}
.abovefooter thumbnail{
    visibility: hidden
}
.certhead{
    color: ghostwhite;
    margin-bottom: 20px;
    
}
.last{
    background: white;
}
.last img{
    width: 80%;
    height: 80%;
    
}
.why{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
}
.last .why h4{
    font-size: 25px;
}
.last .col-md-5{
    color:darkslategrey;
    margin-top: 90px;
}
.last .col-md-5 h5{
    color:cadetblue;
    margin-left: 45px;
}
.socialmedia{
    margin: -20px;
    padding: 20px;
    background-color: #37474f;
}
.socialmedia .ico{
    font-size: 40px;
    text-align: center;
}
.socialmedia .ico .t i{
    color: #4099ff;
    
}
.socialmedia .ico .g i{
    color: #d34836;
    
}
.socialmedia .ico.f i{
    color: #3b5998;
}
.bottext{
    margin-left: 80px;
    margin-top: 40px;
}
.bottext h6{
    margin-left: 10px;
    color:78909c;
    margin-right: 20px;
}
.bottext h5{
    color: #607d8b;
    font-weight: 600;
}
.bottext a{
    color: #b0bec5;
    font-size: 12px;
    margin-right: 30px; 
}
.count{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #78909c;
}
.fix-navi .navbar-fixed-top{
       transition: all 1s;
        -moz- Transition: all 1s;
        -0- transition:all 1s;
        -webkit-transition: all 1s;
       margin-top: -100px;
       border-color: black;
       background-color:transparent;!important
    }
    .fix-navi .navbar-fixed-top .container-fluid{
        margin-left: 15px;
        margin-right: 15px;
        background-color: rgba(31,31,31,0.85);
    }
 .fix-navi .navbar-fixed-top .container-fluid a{
     color:darkgrey;
     
    }
    .fix-navi .navbar-fixed-top .container-fluid .dropdown-menu{
         color:azure;
         background-color: rgba(0,0,0,0.80);
         border-radius: 5px;
    }
    .fix-navi .navbar-fixed-top .container-fluid .dropdown-menu a:hover{
         color:azure;
         background-color: rgba(f,f,f,0.40);
         border-radius: 5px;
    }
     .fix-navi .navbar-fixed-top .container-fluid .active a{
         color:azure;
         background-color: rgba(0,0,0,0.5);
         border-radius: 5px;
     
    } 
    .fix-navi .navbar-fixed-top .container-fluid a:hover{
     color:white;
      background-color: rgba(0,0,0,0.4);
    }
    .fix-navi .navbar-fixed-top .container-fluid a:visited{
        color:azure;
         background-color: rgba(0,0,0,0.5);
         border-radius: 5px;
    }
    .test-list .thumbnail:hover{
     transition: all 1s;
        -moz- Transition: all 1s;
        -0- transition:all 1s;
        -webkit-transition: all 1s;
       margin-top: -10px;
       border-color: black;
}
   }